* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    background-color: black;
}
.big-img {
    background: url(teacher_2pupils.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    opacity: 0.7;
}
.container {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.764);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    opacity: 0.79;
    border-radius: 15px; 
    
        div {
            display: flex;
        }
        .front {
            padding: 0px 155px 0px 18px ;
        }
        input, select, option {
            border: none;
            border-bottom: .5px solid grey;
            background-color: transparent;
            margin: 15px;
            cursor: pointer;
            padding: 10px;           
        }
        button {
            background-color: transparent;
            margin: 15px;
            cursor: pointer;
            padding: 10px;
            &:hover {
                background-color: white;
            }            
        }
}